html {
  box-sizing: border-box;
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff url(./../img/confectionary.png); /* Background pattern from Subtle Patterns */
  font-family: 'Lato', sans-serif;
}

:root {
  --main-color: #346790;
}

a:hover,
a:active,
a:focus {
  color: black;
  color: var(--main-color);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-family: 'Nova Mono', monospace;
  padding-left: 1rem;
}

h2 {
  font-size: 1.5rem;
}

p,
label {
  font-size: 1rem;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color:rgba(32, 43, 54, 0.1);
  text-align: center;
  /* border: 5px solid red; */
}

.fas {
  color: black;
  color: var(--main-color);
  font-size: 2.5rem;
}

/* Container */
.container {
  width: 100%;
  padding: 2rem;
  /* border: 5px solid green; */
}

/* Check Text Area */
.check-text {
  /* border: 5px solid purple; */
}

#textarea {
  width: 100%;
  box-shadow: 0 .5rem 1.5rem rgba(32, 43, 54, 0.12);
  margin: 0.5rem 0;
  font-size: 1rem;
}

.button {
  background-color: black;
  background-color: var(--main-color);
  color: #fff;
  border-radius: .25rem;
  padding: .5rem 2rem;
  box-shadow: 0 .5rem 1.5rem rgba(32, 43, 54, 0.12);
  cursor: pointer;
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* Result */
.result {
  display: block;
  color: #346790;
  text-align: center;
  padding: 1rem 0;
}

.far {
  color: black;
  color: var(--main-color);
  font-size: 3rem;
}

/* Definition */
.definition {
  box-shadow: 0.1rem 0.1rem 1rem #808080;
  padding: 0.3rem 1rem;
  /* border: 5px solid purple; */
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  /* border: 5px solid blue; */
  text-align: center;
  font-size: .9rem;
  color: #808080;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.fab {
  font-size: 2rem;
  color: #808080;
}

hr {
  width: 90%;
}

@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
}
