main {
  margin: 1rem 2rem;
}

main a {
  color: #000;
}

a:hover,
a:active,
a:focus {
  color: #900;
  text-decoration: none;
}

h1 {
  font: 3rem "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-weight: bold;
}

h2 {
  font: 1.5rem "Helvetica", "Arial", "sans-serif";
  font-weight: bold;
}

p,
label {
  font: 1rem "Helvetica", "Arial", "sans-serif";
}

footer p {
  font-size: .8rem;
  color: grey;
  text-align: center;
}

footer a {
  color: #808080;
}

#textarea,
#button {
  display: inline-block;
  vertical-align: bottom;
  margin: .7rem .5rem;
  font: 1rem "Helvetica", "Arial", "sans-serif";

}

#textarea {
  width: 80%;
  max-width: 80rem;
}

#checkedResult {
  color: #fff;
  font: 1.2rem "Helvetica", "Arial", "sans-serif";
}

#button {
  background-color: #900;
  color: #fff;
  border-radius: 8px;
  padding: .50rem;
  box-shadow: .04rem .04rem #808080;
}

/*
Next step: make it responsive
@media only screen and (max-width: 480px) {


  }
} */
