:root {
  --main-color: #346790;
}

html {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 2rem 10rem;
}

main a {
  color: #000;
}

a:hover,
a:active,
a:focus {
  color: darkred;
  color: var(--main-color);
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-family: 'Nova Mono', monospace;
  font-weight: bold;
  padding-left: 1rem;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p,
label {
  font-size: 1rem;
}

hr {
  width: 90%;

}

footer p {
  font-size: .8rem;
  color: grey;
  text-align: center;
}

footer a {
  color: #808080;
}

span {
  color: darkred;
  color: var(--main-color);
  font-size: 2.5rem;
}

#textarea,
#button {
  display: inline-block;
  vertical-align: bottom;
  margin: .7rem .5rem;
  font-size: 1rem;
}

#textarea {
  width: 80%;
  max-width: 80rem;
  box-shadow: 0 .5rem 1.5rem rgba(32, 43, 54, 0.12);
}

#checkedResult {
  color: #fff;
  font-size: 1.2rem;
}

#button {
  background-color: darkred;
  background-color: var(--main-color);
  color: #fff;
  border-radius: .25rem;
  border: none;
  padding: .5rem 2rem;
  box-shadow: 0 .5rem 1.5rem rgba(32, 43, 54, 0.12);
  mix-blend-mode: multiply;
  transition: box-shadow .15s ease;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: .6em;
  }

  main {
    margin: .5rem .5rem;
  }

  h1 {
    text-align: center;
  }

  .fa-check-circle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: .8em;
  }

  main {
    margin: 1rem 2rem;
  }

  h1 {
    text-align: center;
  }
}
